{% extends "team/base.html.twig" %}

{% block title %}Print - {{ parent() }}{% endblock %}

{% block content %}

    <div class="container submitform pt-5">
        <h1 class="text-center">Print source</h1>
        <div class="alert alert-warning">
Please add a line to your code to tell us your venue and team name.
If you failed to do so, you may not receive the printed code.
</div>
        {{ form(form) }}
    </div>

{% endblock %}

{% block extrafooter %}
    {% include 'partials/javascript_print.html.twig' %}
{% endblock %}
